<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*<!-- Google Search Console -->*@
    <meta name="google-site-verification" content="QNCeeqDbe5VxibYmJOvIAO8FXtcTJcsoKEajEMzfjOs" />

    @*<!-- Google AdSense -->*@
    <script data-ad-client="ca-pub-2731223979687390" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>

<body>

    <header>
        <nav style="min-height: 80px">
            <div class="nav-wrapper">
                <a class="brand-logo center logo" asp-controller="Site" asp-action="Index" style="height: 100%"><img src="~/AmigoSecreto_Logo_Roxo.jpg" alt="Logo" style="max-height: 100%; width: auto" /></a>
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                Copyright &copy; 2020 - Rafael Hoyos, Pedro Braiti
                <a class="grey-text text-lighten-4 right" asp-controller="Site" asp-action="Index">Amigo Secreto</a>
            </div>
        </div>
    </footer>

    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
