@{
    ViewData["Title"] = "Amigo Secreto";
}
<div class="row">
    <div class="col s12 m6">
        <h2 class="display-4">Bem-vindo!</h2>
        @*<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->*@
        <p>
            Este é o site do amigo secreto raiz! É pra você que quer organizar um amigo oculto online e sem frescuras, pois aqui o sorteio é feito de forma totalmente aleatória e não é preciso criar uma conta no site para realizá-lo!
        </p>
        <p>
            <strong>Como funciona: </strong>
            Ao clicar em <em>Novo Amigo Secreto</em> você será levado a uma página de criação de sala, onde você adicionará os nomes dos participantes de seu evento. 
            Depois, você receberá um link especial, que deve ser compartilhado com todas as pessoas do grupo. 
            Quando alguém abrir esse link, vai se deparar com uma lista de envelopes, aí basta abrir o envelope com seu nome para descobrir seu amigo secreto!
        </p>
    </div>
    <div class="col s12 m6 right-align" style="margin-top:40px; margin-bottom: 30px" >
        <a class="btn waves-effect waves-light btn-large " asp-controller="Site" asp-action="NewRoom">
            Novo Amigo Secreto
            <i class="material-icons right">group</i>
        </a>
    </div>
</div>

<div class="parent">
    <img src="~/AmigoSecreto_Logo_Branco.jpg" style="max-width: 500px; height: auto; width: 100%" />
</div>
